<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de productos</title>
    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body>
    <h1>Lista de Productos Node.js</h1>
    <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Titulo</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
          <tr>
            <td><img src="<%= product.image %>" width="50"></td>
            <td><%= product.title %></td>
            <td><%= product.price.toFixed(2) %></td>
          </tr>
        <% }); %>
      </tbody>
    </body>
  </html>